@import-normalize;

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 420px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
}
